@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Dubai-Regular", sans-serif;
  background: #03090f;
  color: white;
}

a {
  text-decoration: none !important;
  color: white !important;
}

